html,head{
    padding: 0;
}
header{

    color: aliceblue;
    text-align: center;
    height: 80px;
    padding-top: 0;
}
h1{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botones{
    height: 30px;
    border: 1px solid black;
    margin-left: 2px;
    border-radius: 5px;
}
.cbt{
    margin-left: 50px;
    margin-top: 2px;
}
.botones:hover{
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
form{
    background: #B2B2B2;
    border: 2px solid black;
    border-radius: 10px;
    width: 375px;
    margin-left: 250px;
    padding-top: 1px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.letra-label{
    margin-left: 5px;
}
.contenedor{
     padding: 15px;
     margin-left: 220px;
}
body{
    background-image: url("imagenes/fondo.png");
}

form:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
