header{
    background: blue;
    color: aliceblue;
    text-align: center;
    height: 50px;
}
h1{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
    background: grey;
    border-color: black;
    color: white;
    width: 325px;
    margin-left: 250px;
    padding-top: 1px;
}
label, input
{
    margin-left: 10px;
}


